-- Complete fix for comunicados saving issue
-- This script addresses all RLS and constraint issues

-- ==============================================
-- 1. FIX COMUNICADOS TABLE CONSTRAINTS
-- ==============================================

-- Allow NULL values for user_id in comunicados table
-- This enables public comunicado generation without requiring authentication
ALTER TABLE comunicados ALTER COLUMN user_id DROP NOT NULL;

-- ==============================================
-- 2. FIX COMUNICADOS RLS POLICIES
-- ==============================================

-- Drop all existing restrictive policies for comunicados
DROP POLICY IF EXISTS \
Users
can
view
own
comunicados\ ON comunicados;
DROP POLICY IF EXISTS \Users
can
insert
own
comunicados\ ON comunicados;
DROP POLICY IF EXISTS \Users
can
update
own
comunicados\ ON comunicados;
DROP POLICY IF EXISTS \Users
can
delete
own
comunicados\ ON comunicados;

-- Create new policies that allow public access for comunicados
CREATE POLICY \Allow
public
comunicado
inserts\ ON comunicados
    FOR INSERT WITH CHECK (true);

CREATE POLICY \Allow
public
comunicado
viewing\ ON comunicados
    FOR SELECT USING (true);

CREATE POLICY \Allow
public
comunicado
updates\ ON comunicados
    FOR UPDATE USING (true);

CREATE POLICY \Allow
public
comunicado
deletes\ ON comunicados
    FOR DELETE USING (true);

-- ==============================================
-- 3. ENSURE REPORTS POLICIES ARE ALSO CORRECT
-- ==============================================

-- Drop existing restrictive policies for reports (if they exist)
DROP POLICY IF EXISTS \Users
can
view
own
reports\ ON reports;
DROP POLICY IF EXISTS \Users
can
insert
own
reports\ ON reports;
DROP POLICY IF EXISTS \Users
can
update
own
reports\ ON reports;
DROP POLICY IF EXISTS \Users
can
delete
own
reports\ ON reports;

-- Create new policies that allow public access for reports
CREATE POLICY \Allow
public
report
viewing\ ON reports
    FOR SELECT USING (true);

CREATE POLICY \Allow
public
report
uploads\ ON reports
    FOR INSERT WITH CHECK (true);

CREATE POLICY \Allow
public
report
updates\ ON reports
    FOR UPDATE USING (true);

CREATE POLICY \Allow
public
report
deletes\ ON reports
    FOR DELETE USING (true);

-- ==============================================
-- 4. ENSURE PUBLIC_REQUESTS POLICIES WORK
-- ==============================================

-- Drop existing policies for public_requests (if any restrictive ones exist)
DROP POLICY IF EXISTS \Users
can
view
own
public_requests\ ON public_requests;
DROP POLICY IF EXISTS \Users
can
insert
own
public_requests\ ON public_requests;

-- Ensure public_requests allows public inserts and service role viewing
CREATE POLICY \Allow
public
request
inserts\ ON public_requests
    FOR INSERT WITH CHECK (true);

CREATE POLICY \Allow
service
role
to
view
public
requests\ ON public_requests
    FOR SELECT USING (true);

-- ==============================================
-- 5. VERIFY CONSTRAINTS
-- ==============================================

-- Make sure reports.user_id allows NULL too (for public uploads)
ALTER TABLE reports ALTER COLUMN user_id DROP NOT NULL;

-- Add index for better performance on null user_id queries
CREATE INDEX IF NOT EXISTS idx_comunicados_user_id_null ON comunicados(user_id) WHERE user_id IS NULL;
CREATE INDEX IF NOT EXISTS idx_reports_user_id_null ON reports(user_id) WHERE user_id IS NULL;
