-- Safe fix for comunicados saving issue - handles existing policies
-- This script safely updates policies without conflicts

-- ==============================================
-- 1. FIX COMUNICADOS TABLE CONSTRAINTS
-- ==============================================

-- Allow NULL values for user_id in comunicados table
ALTER TABLE comunicados ALTER COLUMN user_id DROP NOT NULL;

-- ==============================================
-- 2. FIX COMUNICADOS RLS POLICIES (SAFE VERSION)
-- ==============================================

-- Drop all existing policies for comunicados (including any variations)
DROP POLICY IF EXISTS "Users can view own comunicados" ON comunicados;
DROP POLICY IF EXISTS "Users can insert own comunicados" ON comunicados;
DROP POLICY IF EXISTS "Users can update own comunicados" ON comunicados;
DROP POLICY IF EXISTS "Users can delete own comunicados" ON comunicados;
DROP POLICY IF EXISTS "Allow public comunicado inserts" ON comunicados;
DROP POLICY IF EXISTS "Allow public comunicado viewing" ON comunicados;
DROP POLICY IF EXISTS "Allow public comunicado updates" ON comunicados;
DROP POLICY IF EXISTS "Allow public comunicado deletes" ON comunicados;

-- Create new policies with unique names for comunicados
CREATE POLICY "comunicados_public_insert_policy" ON comunicados
    FOR INSERT WITH CHECK (true);

CREATE POLICY "comunicados_public_select_policy" ON comunicados
    FOR SELECT USING (true);

CREATE POLICY "comunicados_public_update_policy" ON comunicados
    FOR UPDATE USING (true);

CREATE POLICY "comunicados_public_delete_policy" ON comunicados
    FOR DELETE USING (true);

-- ==============================================
-- 3. FIX REPORTS POLICIES (SAFE VERSION)
-- ==============================================

-- Drop all existing policies for reports (including variations)
DROP POLICY IF EXISTS "Users can view own reports" ON reports;
DROP POLICY IF EXISTS "Users can insert own reports" ON reports;
DROP POLICY IF EXISTS "Users can update own reports" ON reports;
DROP POLICY IF EXISTS "Users can delete own reports" ON reports;
DROP POLICY IF EXISTS "Allow public report viewing" ON reports;
DROP POLICY IF EXISTS "Allow public report uploads" ON reports;
DROP POLICY IF EXISTS "Allow public report updates" ON reports;
DROP POLICY IF EXISTS "Allow public report deletes" ON reports;

-- Create new policies with unique names for reports
CREATE POLICY "reports_public_select_policy" ON reports
    FOR SELECT USING (true);

CREATE POLICY "reports_public_insert_policy" ON reports
    FOR INSERT WITH CHECK (true);

CREATE POLICY "reports_public_update_policy" ON reports
    FOR UPDATE USING (true);

CREATE POLICY "reports_public_delete_policy" ON reports
    FOR DELETE USING (true);

-- ==============================================
-- 4. FIX PUBLIC_REQUESTS POLICIES (SAFE VERSION)
-- ==============================================

-- Drop all existing policies for public_requests
DROP POLICY IF EXISTS "Users can view own public_requests" ON public_requests;
DROP POLICY IF EXISTS "Users can insert own public_requests" ON public_requests;
DROP POLICY IF EXISTS "Anyone can insert public requests" ON public_requests;
DROP POLICY IF EXISTS "Service role can view all public requests" ON public_requests;
DROP POLICY IF EXISTS "Allow public request inserts" ON public_requests;
DROP POLICY IF EXISTS "Allow service role to view public requests" ON public_requests;

-- Create new policies with unique names for public_requests
CREATE POLICY "public_requests_insert_policy" ON public_requests
    FOR INSERT WITH CHECK (true);

CREATE POLICY "public_requests_select_policy" ON public_requests
    FOR SELECT USING (true);

-- ==============================================
-- 5. VERIFY CONSTRAINTS
-- ==============================================

-- Make sure reports.user_id allows NULL too (for public uploads)
ALTER TABLE reports ALTER COLUMN user_id DROP NOT NULL;
